<html>
  <head>
    <title>virus check</title>
  </head>
  <body>
    <form action="/" method="POST" enctype="multipart/form-data">
      <input type='file' name='data'>
      <input type='submit' value='check'>
    </form>
  </body>
</html>
